
h1 {
    font-size: 400;
    font-weight: 100;
}
h2 {
    text-align: center;
    color: azure;
}
body {
    background-color: yellow;
}
p {
    font-weight: normal;
    font-size: medium;
}
.block {
    display: flex;
}
.block {
    position: fixed
}